.lists {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}

.lists button {
    outline: none;
    font-family: inherit;
    background-color: var(--frame-and-text);
    border: none;
    border-radius: 5px;
    height: 60px;
    color: var(--light-font);
    font-size: 1rem;
    cursor: pointer;
}

.lists button:hover {
    text-decoration: underline;
}