@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  font-family: 'Dangrek', cursive;
}

:root {
  --background: #17191b;
  --page-bg: #343A40;
  --nav-bar: #CED4DA ;
  --frame-and-text: #6C757D;
  --light-font: #F8F9FA;
}

/* @media (min-width: 1024px) {

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
} */

body::-webkit-scrollbar {
  width: .5em;
  
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  
}

body::-webkit-scrollbar-thumb {
  background-color: var(--nav-bar);
  outline: 1px solid slategrey;
  border-radius: 5px;
}